:root {
  --c-brand: #86b300 !important;
	--c-brand-light: #acde17 !important;

	--c-tip: #8ab942;
}

html.dark {
	--c-bg: #1b1e21;

	--c-tip: #678a31;
	--c-warning-title: #f1c906;
	--c-warning-text: #e0ddca;
}
