:root {
  --c-brand: #86b300 !important;
	--c-brand-light: #acde17 !important;

	--c-tip: #8ab942;
}

html.dark {
	--c-bg: #1b1e21;

	--c-tip: #678a31;
	--c-warning: #b79a0f;
	--c-warning-bg: #353125;
	--c-warning-title: #dec340;
	--c-warning-text: #d6d0a8;
}
