:root {
  --c-brand: #86b300 !important;
	--c-brand-light: #acde17 !important;

	--c-tip: #8ab942;
}

html.dark {
	--c-bg: #1b1e21;

	--c-tip: #678a31;
	--c-warning: #b79a0f;
	--c-warning-bg: #353125;
	--c-warning-title: #dec340;
	--c-warning-text: #d6d0a8;
}

.custom-container {
	position: relative;

	> i {
		position: absolute;
		top: 1rem;
		left: -19px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 100%;
		text-align: center;
		font-size: 14px;
	}

	> p {
		// vuepressデフォルトテーマのミスで、details内に入れたcustom-containerのマージンが無くなってしまうため
		margin-block-end: 1em !important;
	}

	&.tip {
		> i {
			background: var(--c-tip);
			color: var(--c-tip-bg);
		}
	}

	&.warning {
		> i {
			background: var(--c-warning);
			color: var(--c-warning-bg);
		}
	}

	&.danger {
		> i {
			background: var(--c-danger);
			color: var(--c-danger-bg);
		}
	}
}
