:root {
  --c-brand: #86b300 !important;
	--c-brand-light: #acde17 !important;

	--c-bg-navbar: rgba(255, 255, 255, 0.7);
	--c-bg-navbar-dropdown: var(--c-bg);
	--c-bg-navbar-dropdown-shadow: rgba(0, 0, 0, 0.1);

	--c-tip: #8ab942;
}

html.dark {
	--c-bg: rgb(27, 30, 33);
	--c-bg-navbar: rgb(27, 30, 33, 0.7);
	--c-bg-navbar-dropdown: var(--c-bg-light);
	--c-bg-navbar-dropdown-shadow: rgba(0, 0, 0, 0.3);

	--c-tip: #678a31;
	--c-warning: #b79a0f;
	--c-warning-bg: #353125;
	--c-warning-title: #dec340;
	--c-warning-text: #d6d0a8;
	--c-danger: #bd3b3b;
	--c-danger-bg: #463434;
	--c-danger-text: #edd2d2;
}

.navbar {
	backdrop-filter: blur(14px);
	border-bottom: none !important;
}

.nav-dropdown {
	background-color: var(--c-bg-navbar-dropdown) !important;
	border: none !important;
	border-radius: 8px !important;
	box-shadow: 0px 4px 32px var(--c-bg-navbar-dropdown-shadow) !important;
}

.sidebar {
	border-right: none !important;
}

.custom-container {
	position: relative;

	> i {
		position: absolute;
		top: 1rem;
		left: -19px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 100%;
		text-align: center;
		font-size: 14px;
		color: var(--c-bg);
	}

	> p {
		// vuepressデフォルトテーマのミスで、details内に入れたcustom-containerのマージンが無くなってしまうため
		margin-block-end: 1em !important;
	}

	&.tip {
		> i {
			background: var(--c-tip);
		}
	}

	&.warning {
		> i {
			background: var(--c-warning);
		}
	}

	&.danger {
		> i {
			background: var(--c-danger);
		}
	}
}
