{"openapi":"3.0.0","info":{"version":"v1","title":"Misskey API","x-logo":{"url":"/static-assets/api-doc.png"}},"externalDocs":{"description":"Repository","url":"https://github.com/misskey-dev/misskey"},"servers":[{"url":"https://misskey.io/api"}],"paths":{"/admin/meta":{"post":{"operationId":"admin/meta","summary":"admin/meta","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/meta.ts"},"tags":["meta"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{},"required":[]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"object","optional":false,"nullable":false,"properties":{"driveCapacityPerLocalUserMb":{"type":"number","optional":false,"nullable":false},"driveCapacityPerRemoteUserMb":{"type":"number","optional":false,"nullable":false},"cacheRemoteFiles":{"type":"boolean","optional":false,"nullable":false},"emailRequiredForSignup":{"type":"boolean","optional":false,"nullable":false},"enableHcaptcha":{"type":"boolean","optional":false,"nullable":false},"hcaptchaSiteKey":{"type":"string","optional":false,"nullable":true},"enableRecaptcha":{"type":"boolean","optional":false,"nullable":false},"recaptchaSiteKey":{"type":"string","optional":false,"nullable":true},"swPublickey":{"type":"string","optional":false,"nullable":true},"mascotImageUrl":{"type":"string","optional":false,"nullable":false,"default":"/assets/ai.png"},"bannerUrl":{"type":"string","optional":false,"nullable":false},"errorImageUrl":{"type":"string","optional":false,"nullable":false,"default":"https://xn--931a.moe/aiart/yubitun.png"},"iconUrl":{"type":"string","optional":false,"nullable":true},"maxNoteTextLength":{"type":"number","optional":false,"nullable":false},"emojis":{"type":"array","optional":false,"nullable":false,"items":{"type":"object","optional":false,"nullable":false,"properties":{"id":{"type":"string","optional":false,"nullable":false,"format":"id"},"aliases":{"type":"array","optional":false,"nullable":false,"items":{"type":"string","optional":false,"nullable":false}},"category":{"type":"string","optional":false,"nullable":true},"host":{"type":"string","optional":false,"nullable":true},"url":{"type":"string","optional":false,"nullable":false,"format":"url"}},"required":["id","aliases","category","host","url"]}},"ads":{"type":"array","optional":false,"nullable":false,"items":{"type":"object","optional":false,"nullable":false,"properties":{"place":{"type":"string","optional":false,"nullable":false},"url":{"type":"string","optional":false,"nullable":false,"format":"url"},"imageUrl":{"type":"string","optional":false,"nullable":false,"format":"url"}},"required":["place","url","imageUrl"]}},"enableEmail":{"type":"boolean","optional":false,"nullable":false},"enableTwitterIntegration":{"type":"boolean","optional":false,"nullable":false},"enableGithubIntegration":{"type":"boolean","optional":false,"nullable":false},"enableDiscordIntegration":{"type":"boolean","optional":false,"nullable":false},"enableServiceWorker":{"type":"boolean","optional":false,"nullable":false},"translatorAvailable":{"type":"boolean","optional":false,"nullable":false},"proxyAccountName":{"type":"string","optional":false,"nullable":true},"userStarForReactionFallback":{"type":"boolean","optional":true,"nullable":false},"pinnedUsers":{"type":"array","optional":true,"nullable":false,"items":{"type":"string","optional":false,"nullable":false}},"hiddenTags":{"type":"array","optional":true,"nullable":false,"items":{"type":"string","optional":false,"nullable":false}},"blockedHosts":{"type":"array","optional":true,"nullable":false,"items":{"type":"string","optional":false,"nullable":false}},"hcaptchaSecretKey":{"type":"string","optional":true,"nullable":true},"recaptchaSecretKey":{"type":"string","optional":true,"nullable":true},"sensitiveMediaDetection":{"type":"string","optional":true,"nullable":false},"sensitiveMediaDetectionSensitivity":{"type":"string","optional":true,"nullable":false},"setSensitiveFlagAutomatically":{"type":"boolean","optional":true,"nullable":false},"enableSensitiveMediaDetectionForVideos":{"type":"boolean","optional":true,"nullable":false},"proxyAccountId":{"type":"string","optional":true,"nullable":true,"format":"id"},"twitterConsumerKey":{"type":"string","optional":true,"nullable":true},"twitterConsumerSecret":{"type":"string","optional":true,"nullable":true},"githubClientId":{"type":"string","optional":true,"nullable":true},"githubClientSecret":{"type":"string","optional":true,"nullable":true},"discordClientId":{"type":"string","optional":true,"nullable":true},"discordClientSecret":{"type":"string","optional":true,"nullable":true},"summaryProxy":{"type":"string","optional":true,"nullable":true},"email":{"type":"string","optional":true,"nullable":true},"smtpSecure":{"type":"boolean","optional":true,"nullable":false},"smtpHost":{"type":"string","optional":true,"nullable":true},"smtpPort":{"type":"string","optional":true,"nullable":true},"smtpUser":{"type":"string","optional":true,"nullable":true},"smtpPass":{"type":"string","optional":true,"nullable":true},"swPrivateKey":{"type":"string","optional":true,"nullable":true},"useObjectStorage":{"type":"boolean","optional":true,"nullable":false},"objectStorageBaseUrl":{"type":"string","optional":true,"nullable":true},"objectStorageBucket":{"type":"string","optional":true,"nullable":true},"objectStoragePrefix":{"type":"string","optional":true,"nullable":true},"objectStorageEndpoint":{"type":"string","optional":true,"nullable":true},"objectStorageRegion":{"type":"string","optional":true,"nullable":true},"objectStoragePort":{"type":"number","optional":true,"nullable":true},"objectStorageAccessKey":{"type":"string","optional":true,"nullable":true},"objectStorageSecretKey":{"type":"string","optional":true,"nullable":true},"objectStorageUseSSL":{"type":"boolean","optional":true,"nullable":false},"objectStorageUseProxy":{"type":"boolean","optional":true,"nullable":false},"objectStorageSetPublicRead":{"type":"boolean","optional":true,"nullable":false},"enableIpLogging":{"type":"boolean","optional":true,"nullable":false},"enableActiveEmailValidation":{"type":"boolean","optional":true,"nullable":false}},"required":["driveCapacityPerLocalUserMb","driveCapacityPerRemoteUserMb","cacheRemoteFiles","emailRequiredForSignup","enableHcaptcha","hcaptchaSiteKey","enableRecaptcha","recaptchaSiteKey","swPublickey","mascotImageUrl","bannerUrl","errorImageUrl","iconUrl","maxNoteTextLength","emojis","ads","enableEmail","enableTwitterIntegration","enableGithubIntegration","enableDiscordIntegration","enableServiceWorker","translatorAvailable","proxyAccountName"]}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/abuse-user-reports":{"post":{"operationId":"admin/abuse-user-reports","summary":"admin/abuse-user-reports","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/abuse-user-reports.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","minimum":1,"maximum":100,"default":10},"sinceId":{"type":"string","format":"misskey:id"},"untilId":{"type":"string","format":"misskey:id"},"state":{"type":"string","nullable":true,"default":null},"reporterOrigin":{"type":"string","enum":["combined","local","remote"],"default":"combined"},"targetUserOrigin":{"type":"string","enum":["combined","local","remote"],"default":"combined"},"forwarded":{"type":"boolean","default":false}},"required":[]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"array","optional":false,"nullable":false,"items":{"type":"object","optional":false,"nullable":false,"properties":{"id":{"type":"string","nullable":false,"optional":false,"format":"id","example":"xxxxxxxxxx"},"createdAt":{"type":"string","nullable":false,"optional":false,"format":"date-time"},"comment":{"type":"string","nullable":false,"optional":false},"resolved":{"type":"boolean","nullable":false,"optional":false,"example":false},"reporterId":{"type":"string","nullable":false,"optional":false,"format":"id"},"targetUserId":{"type":"string","nullable":false,"optional":false,"format":"id"},"assigneeId":{"type":"string","nullable":true,"optional":false,"format":"id"},"reporter":{"type":"object","nullable":false,"optional":false,"ref":"User","$ref":"#/components/schemas/User"},"targetUser":{"type":"object","nullable":false,"optional":false,"ref":"User","$ref":"#/components/schemas/User"},"assignee":{"type":"object","nullable":true,"optional":true,"ref":"User","$ref":"#/components/schemas/User"}},"required":["id","createdAt","comment","resolved","reporterId","targetUserId","assigneeId","reporter","targetUser"]}}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/accounts/create":{"post":{"operationId":"admin/accounts/create","summary":"admin/accounts/create","description":"No description provided.\n\n**Credential required**: *No*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/accounts/create.ts"},"tags":["admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"username":{"type":"string","pattern":"^\\w{1,20}$"},"password":{"type":"string","minLength":1}},"required":["username","password"]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"object","optional":false,"nullable":false,"ref":"User","properties":{"token":{"type":"string","optional":false,"nullable":false}},"required":["token"],"$ref":"#/components/schemas/User"}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/accounts/delete":{"post":{"operationId":"admin/accounts/delete","summary":"admin/accounts/delete","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/accounts/delete.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"type":"string","format":"misskey:id"}},"required":["userId"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/ad/create":{"post":{"operationId":"admin/ad/create","summary":"admin/ad/create","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/ad/create.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","minLength":1},"memo":{"type":"string"},"place":{"type":"string"},"priority":{"type":"string"},"ratio":{"type":"integer"},"expiresAt":{"type":"integer"},"imageUrl":{"type":"string","minLength":1}},"required":["url","memo","place","priority","ratio","expiresAt","imageUrl"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/ad/delete":{"post":{"operationId":"admin/ad/delete","summary":"admin/ad/delete","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/ad/delete.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"misskey:id"}},"required":["id"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_AD":{"value":{"error":{"message":"No such ad.","code":"NO_SUCH_AD","id":"ccac9863-3a03-416e-b899-8a64041118b1"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/ad/list":{"post":{"operationId":"admin/ad/list","summary":"admin/ad/list","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/ad/list.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","minimum":1,"maximum":100,"default":10},"sinceId":{"type":"string","format":"misskey:id"},"untilId":{"type":"string","format":"misskey:id"}},"required":[]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/ad/update":{"post":{"operationId":"admin/ad/update","summary":"admin/ad/update","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/ad/update.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"misskey:id"},"memo":{"type":"string"},"url":{"type":"string","minLength":1},"imageUrl":{"type":"string","minLength":1},"place":{"type":"string"},"priority":{"type":"string"},"ratio":{"type":"integer"},"expiresAt":{"type":"integer"}},"required":["id","memo","url","imageUrl","place","priority","ratio","expiresAt"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_AD":{"value":{"error":{"message":"No such ad.","code":"NO_SUCH_AD","id":"b7aa1727-1354-47bc-a182-3a9c3973d300"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/announcements/create":{"post":{"operationId":"admin/announcements/create","summary":"admin/announcements/create","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/announcements/create.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","minLength":1},"text":{"type":"string","minLength":1},"imageUrl":{"type":"string","nullable":true,"minLength":1}},"required":["title","text","imageUrl"]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"object","optional":false,"nullable":false,"properties":{"id":{"type":"string","optional":false,"nullable":false,"format":"id","example":"xxxxxxxxxx"},"createdAt":{"type":"string","optional":false,"nullable":false,"format":"date-time"},"updatedAt":{"type":"string","optional":false,"nullable":true,"format":"date-time"},"title":{"type":"string","optional":false,"nullable":false},"text":{"type":"string","optional":false,"nullable":false},"imageUrl":{"type":"string","optional":false,"nullable":true}},"required":["id","createdAt","updatedAt","title","text","imageUrl"]}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/announcements/delete":{"post":{"operationId":"admin/announcements/delete","summary":"admin/announcements/delete","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/announcements/delete.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"misskey:id"}},"required":["id"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_ANNOUNCEMENT":{"value":{"error":{"message":"No such announcement.","code":"NO_SUCH_ANNOUNCEMENT","id":"ecad8040-a276-4e85-bda9-015a708d291e"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/announcements/list":{"post":{"operationId":"admin/announcements/list","summary":"admin/announcements/list","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/announcements/list.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","minimum":1,"maximum":100,"default":10},"sinceId":{"type":"string","format":"misskey:id"},"untilId":{"type":"string","format":"misskey:id"}},"required":[]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"array","optional":false,"nullable":false,"items":{"type":"object","optional":false,"nullable":false,"properties":{"id":{"type":"string","optional":false,"nullable":false,"format":"id","example":"xxxxxxxxxx"},"createdAt":{"type":"string","optional":false,"nullable":false,"format":"date-time"},"updatedAt":{"type":"string","optional":false,"nullable":true,"format":"date-time"},"text":{"type":"string","optional":false,"nullable":false},"title":{"type":"string","optional":false,"nullable":false},"imageUrl":{"type":"string","optional":false,"nullable":true},"reads":{"type":"number","optional":false,"nullable":false}},"required":["id","createdAt","updatedAt","text","title","imageUrl","reads"]}}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/announcements/update":{"post":{"operationId":"admin/announcements/update","summary":"admin/announcements/update","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/announcements/update.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"misskey:id"},"title":{"type":"string","minLength":1},"text":{"type":"string","minLength":1},"imageUrl":{"type":"string","nullable":true,"minLength":1}},"required":["id","title","text","imageUrl"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_ANNOUNCEMENT":{"value":{"error":{"message":"No such announcement.","code":"NO_SUCH_ANNOUNCEMENT","id":"d3aae5a7-6372-4cb4-b61c-f511ffc2d7cc"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/delete-all-files-of-a-user":{"post":{"operationId":"admin/delete-all-files-of-a-user","summary":"admin/delete-all-files-of-a-user","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/delete-all-files-of-a-user.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"type":"string","format":"misskey:id"}},"required":["userId"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/drive/clean-remote-files":{"post":{"operationId":"admin/drive/clean-remote-files","summary":"admin/drive/clean-remote-files","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/drive/clean-remote-files.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{},"required":[]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/drive/cleanup":{"post":{"operationId":"admin/drive/cleanup","summary":"admin/drive/cleanup","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/drive/cleanup.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{},"required":[]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/drive/files":{"post":{"operationId":"admin/drive/files","summary":"admin/drive/files","description":"No description provided.\n\n**Credential required**: *No*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/drive/files.ts"},"tags":["admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"type":"integer","minimum":1,"maximum":100,"default":10},"sinceId":{"type":"string","format":"misskey:id"},"untilId":{"type":"string","format":"misskey:id"},"userId":{"type":"string","format":"misskey:id","nullable":true},"type":{"type":"string","nullable":true,"pattern":"^[a-zA-Z0-9\\/\\-*]+$"},"origin":{"type":"string","enum":["combined","local","remote"],"default":"local"},"hostname":{"type":"string","nullable":true,"default":null,"description":"The local host is represented with `null`."}},"required":[]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"array","optional":false,"nullable":false,"items":{"type":"object","optional":false,"nullable":false,"ref":"DriveFile","$ref":"#/components/schemas/DriveFile"}}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/drive/show-file":{"post":{"operationId":"admin/drive/show-file","summary":"admin/drive/show-file","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/drive/show-file.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","anyOf":[{"properties":{"fileId":{"type":"string","format":"misskey:id"}},"required":["fileId"]},{"properties":{"url":{"type":"string"}},"required":["url"]}]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"object","optional":false,"nullable":false,"properties":{"id":{"type":"string","optional":false,"nullable":false,"format":"id","example":"xxxxxxxxxx"},"createdAt":{"type":"string","optional":false,"nullable":false,"format":"date-time"},"userId":{"type":"string","optional":false,"nullable":true,"format":"id","example":"xxxxxxxxxx"},"userHost":{"type":"string","optional":false,"nullable":true,"description":"The local host is represented with `null`."},"md5":{"type":"string","optional":false,"nullable":false,"format":"md5","example":"15eca7fba0480996e2245f5185bf39f2"},"name":{"type":"string","optional":false,"nullable":false,"example":"lenna.jpg"},"type":{"type":"string","optional":false,"nullable":false,"example":"image/jpeg"},"size":{"type":"number","optional":false,"nullable":false,"example":51469},"comment":{"type":"string","optional":false,"nullable":true},"blurhash":{"type":"string","optional":false,"nullable":true},"properties":{"type":"object","optional":false,"nullable":false,"properties":{"width":{"type":"number","optional":false,"nullable":false,"example":1280},"height":{"type":"number","optional":false,"nullable":false,"example":720},"avgColor":{"type":"string","optional":true,"nullable":false,"example":"rgb(40,65,87)"}},"required":["width","height"]},"storedInternal":{"type":"boolean","optional":false,"nullable":true,"example":true},"url":{"type":"string","optional":false,"nullable":true,"format":"url"},"thumbnailUrl":{"type":"string","optional":false,"nullable":true,"format":"url"},"webpublicUrl":{"type":"string","optional":false,"nullable":true,"format":"url"},"accessKey":{"type":"string","optional":false,"nullable":false},"thumbnailAccessKey":{"type":"string","optional":false,"nullable":false},"webpublicAccessKey":{"type":"string","optional":false,"nullable":false},"uri":{"type":"string","optional":false,"nullable":true},"src":{"type":"string","optional":false,"nullable":true},"folderId":{"type":"string","optional":false,"nullable":true,"format":"id","example":"xxxxxxxxxx"},"isSensitive":{"type":"boolean","optional":false,"nullable":false},"isLink":{"type":"boolean","optional":false,"nullable":false}},"required":["id","createdAt","userId","userHost","md5","name","type","size","comment","blurhash","properties","storedInternal","url","thumbnailUrl","webpublicUrl","accessKey","thumbnailAccessKey","webpublicAccessKey","uri","src","folderId","isSensitive","isLink"]}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_FILE":{"value":{"error":{"message":"No such file.","code":"NO_SUCH_FILE","id":"caf3ca38-c6e5-472e-a30c-b05377dcc240"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/add-aliases-bulk":{"post":{"operationId":"admin/emoji/add-aliases-bulk","summary":"admin/emoji/add-aliases-bulk","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/add-aliases-bulk.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string","format":"misskey:id"}},"aliases":{"type":"array","items":{"type":"string"}}},"required":["ids","aliases"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/add":{"post":{"operationId":"admin/emoji/add","summary":"admin/emoji/add","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/add.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fileId":{"type":"string","format":"misskey:id"}},"required":["fileId"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"MO_SUCH_FILE":{"value":{"error":{"message":"No such file.","code":"MO_SUCH_FILE","id":"fc46b5a4-6b92-4c33-ac66-b806659bb5cf"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/copy":{"post":{"operationId":"admin/emoji/copy","summary":"admin/emoji/copy","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/copy.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"emojiId":{"type":"string","format":"misskey:id"}},"required":["emojiId"]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"object","optional":false,"nullable":false,"properties":{"id":{"type":"string","optional":false,"nullable":false,"format":"id"}},"required":["id"]}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_EMOJI":{"value":{"error":{"message":"No such emoji.","code":"NO_SUCH_EMOJI","id":"e2785b66-dca3-4087-9cac-b93c541cc425"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/delete-bulk":{"post":{"operationId":"admin/emoji/delete-bulk","summary":"admin/emoji/delete-bulk","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/delete-bulk.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string","format":"misskey:id"}}},"required":["ids"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/delete":{"post":{"operationId":"admin/emoji/delete","summary":"admin/emoji/delete","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/delete.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"misskey:id"}},"required":["id"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_EMOJI":{"value":{"error":{"message":"No such emoji.","code":"NO_SUCH_EMOJI","id":"be83669b-773a-44b7-b1f8-e5e5170ac3c2"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/list-remote":{"post":{"operationId":"admin/emoji/list-remote","summary":"admin/emoji/list-remote","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/list-remote.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","nullable":true,"default":null},"host":{"type":"string","nullable":true,"default":null,"description":"Use `null` to represent the local host."},"limit":{"type":"integer","minimum":1,"maximum":100,"default":10},"sinceId":{"type":"string","format":"misskey:id"},"untilId":{"type":"string","format":"misskey:id"}},"required":[]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"array","optional":false,"nullable":false,"items":{"type":"object","optional":false,"nullable":false,"properties":{"id":{"type":"string","optional":false,"nullable":false,"format":"id"},"aliases":{"type":"array","optional":false,"nullable":false,"items":{"type":"string","optional":false,"nullable":false}},"name":{"type":"string","optional":false,"nullable":false},"category":{"type":"string","optional":false,"nullable":true},"host":{"type":"string","optional":false,"nullable":true,"description":"The local host is represented with `null`."},"url":{"type":"string","optional":false,"nullable":false}},"required":["id","aliases","name","category","host","url"]}}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/list":{"post":{"operationId":"admin/emoji/list","summary":"admin/emoji/list","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/list.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","nullable":true,"default":null},"limit":{"type":"integer","minimum":1,"maximum":100,"default":10},"sinceId":{"type":"string","format":"misskey:id"},"untilId":{"type":"string","format":"misskey:id"}},"required":[]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"array","optional":false,"nullable":false,"items":{"type":"object","optional":false,"nullable":false,"properties":{"id":{"type":"string","optional":false,"nullable":false,"format":"id"},"aliases":{"type":"array","optional":false,"nullable":false,"items":{"type":"string","optional":false,"nullable":false}},"name":{"type":"string","optional":false,"nullable":false},"category":{"type":"string","optional":false,"nullable":true},"host":{"type":"null","optional":false,"description":"The local host is represented with `null`. The field exists for compatibility with other API endpoints that return files."},"url":{"type":"string","optional":false,"nullable":false}},"required":["id","aliases","name","category","host","url"]}}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/remove-aliases-bulk":{"post":{"operationId":"admin/emoji/remove-aliases-bulk","summary":"admin/emoji/remove-aliases-bulk","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/remove-aliases-bulk.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string","format":"misskey:id"}},"aliases":{"type":"array","items":{"type":"string"}}},"required":["ids","aliases"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/set-aliases-bulk":{"post":{"operationId":"admin/emoji/set-aliases-bulk","summary":"admin/emoji/set-aliases-bulk","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/set-aliases-bulk.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string","format":"misskey:id"}},"aliases":{"type":"array","items":{"type":"string"}}},"required":["ids","aliases"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/set-category-bulk":{"post":{"operationId":"admin/emoji/set-category-bulk","summary":"admin/emoji/set-category-bulk","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/set-category-bulk.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string","format":"misskey:id"}},"category":{"type":"string","nullable":true,"description":"Use `null` to reset the category."}},"required":["ids"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/update":{"post":{"operationId":"admin/emoji/update","summary":"admin/emoji/update","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/emoji/update.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"misskey:id"},"name":{"type":"string"},"category":{"type":"string","nullable":true,"description":"Use `null` to reset the category."},"aliases":{"type":"array","items":{"type":"string"}}},"required":["id","name","aliases"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_EMOJI":{"value":{"error":{"message":"No such emoji.","code":"NO_SUCH_EMOJI","id":"684dec9d-a8c2-4364-9aa8-456c49cb1dc8"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/federation/delete-all-files":{"post":{"operationId":"admin/federation/delete-all-files","summary":"admin/federation/delete-all-files","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/federation/delete-all-files.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"host":{"type":"string"}},"required":["host"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/federation/refresh-remote-instance-metadata":{"post":{"operationId":"admin/federation/refresh-remote-instance-metadata","summary":"admin/federation/refresh-remote-instance-metadata","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/federation/refresh-remote-instance-metadata.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"host":{"type":"string"}},"required":["host"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/federation/remove-all-following":{"post":{"operationId":"admin/federation/remove-all-following","summary":"admin/federation/remove-all-following","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/federation/remove-all-following.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"host":{"type":"string"}},"required":["host"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/federation/update-instance":{"post":{"operationId":"admin/federation/update-instance","summary":"admin/federation/update-instance","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/federation/update-instance.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"host":{"type":"string"},"isSuspended":{"type":"boolean"}},"required":["host","isSuspended"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/get-index-stats":{"post":{"operationId":"admin/get-index-stats","summary":"admin/get-index-stats","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/get-index-stats.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{},"required":[]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/get-table-stats":{"post":{"operationId":"admin/get-table-stats","summary":"admin/get-table-stats","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/get-table-stats.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{},"required":[]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"object","optional":false,"nullable":false,"example":{"migrations":{"count":66,"size":32768}}}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/get-user-ips":{"post":{"operationId":"admin/get-user-ips","summary":"admin/get-user-ips","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/get-user-ips.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"type":"string","format":"misskey:id"}},"required":["userId"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/invite":{"post":{"operationId":"admin/invite","summary":"admin/invite","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/invite.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{},"required":[]}}}},"responses":{"200":{"description":"OK (with results)","content":{"application/json":{"schema":{"type":"object","optional":false,"nullable":false,"properties":{"code":{"type":"string","optional":false,"nullable":false,"example":"2ERUA5VR","maxLength":8,"minLength":8}},"required":["code"]}}}},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/moderators/add":{"post":{"operationId":"admin/moderators/add","summary":"admin/moderators/add","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/moderators/add.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"type":"string","format":"misskey:id"}},"required":["userId"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/moderators/remove":{"post":{"operationId":"admin/moderators/remove","summary":"admin/moderators/remove","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/moderators/remove.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"type":"string","format":"misskey:id"}},"required":["userId"]}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbidden error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/promo/create":{"post":{"operationId":"admin/promo/create","summary":"admin/promo/create","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/misskey-dev/misskey/blob/develop/packages/backend/src/server/api/endpoints/admin/promo/create.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"noteId":{"type":"string","format":"misskey:id"},"expiresAt":{"type":"integer"}},"required":["noteId","expiresAt"]}}}},"responses":{"204":{"description":"OK (without any
[...]
